{
  "presets": [
    [
      "env",
      {
        "targets": {
          "chrome": 62
        },
        "debug": false,
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread"
  ]
}
